In [2]:
import csv
import numpy as np


data = []
with open(r"C:\Users\gupta\Downloads\MER_T07_02A-2020-02-03.csv",'r') as csvfile:
    file_reader = csv.reader(csvfile, delimiter=',')
    for row in file_reader:
        data.append(row)
data = np.array(data)
print(data)

[['MSN' 'YYYYMM' 'Value' 'Column_Order' 'Description' 'Unit']
 ['CLETPUS' '194913' '135451.32' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ['CLETPUS' '195013' '154519.994' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ...
 ['ELETPUS' '201908' '401363.186' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['ELETPUS' '201909' '359300.603' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['ELETPUS' '201910' '321921.812' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']]

In [3]:
# problem 1
print("Array Dimension:", data.ndim)
print("Array Shape:", data.shape)
print("Data Type:", data.dtype)

Array Dimension: 2
Array Shape: (8217, 6)
Data Type: <U80

In [4]:
# problem 2
print("Data in the 4th column (rows 0-9):", data[1:11, 3])

Data in the 4th column (rows 0-9): ['1' '1' '1' '1' '1' '1' '1' '1' '1' '1']

In [5]:
# problem 3
titles = data[0]
print("Header Row:", titles)

Header Row: ['MSN' 'YYYYMM' 'Value' 'Column_Order' 'Description' 'Unit']

In [6]:
# problem 4
print("Data in the 4th column (rows 0-9):", data[1:21, 1:3])

Data in the 4th column (rows 0-9): [['194913' '135451.32']
 ['195013' '154519.994']
 ['195113' '185203.657']
 ['195213' '195436.666']
 ['195313' '218846.325']
 ['195413' '239145.966']
 ['195513' '301362.698']
 ['195613' '338503.484']
 ['195713' '346386.207']
 ['195813' '344365.781']
 ['195913' '378424.21']
 ['196013' '403067.357']
 ['196113' '421870.669']
 ['196213' '450249.238']
 ['196313' '493926.719']
 ['196413' '526230.019']
 ['196513' '570925.951']
 ['196613' '613474.8']
 ['196713' '630483.363']
 ['196813' '684904.58']]

In [7]:
#problem 5
print("Data from first three and last three rows:\n", data[np.r_[:3, -3:data.shape[0]]])

Data from first three and last three rows:
 [['MSN' 'YYYYMM' 'Value' 'Column_Order' 'Description' 'Unit']
 ['CLETPUS' '194913' '135451.32' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ['CLETPUS' '195013' '154519.994' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ...
 ['ELETPUS' '201908' '401363.186' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['ELETPUS' '201909' '359300.603' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['ELETPUS' '201910' '321921.812' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']]

In [8]:
#problem 6
sorted_data = data[data[:, 4].argsort()[::-1]]

In [10]:
sorted_data

array([['ELETPUS', '201910', '321921.812', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '198701', '223040.975', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '198708', '247880.76', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ...,
       ['CLETPUS', '200305', '150262.977', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ['CLETPUS', '200304', '141959.981', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit']],
      dtype='<U80')