In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Now the problem statement is to build the team which is full of best possible players acording to perfomances of the player
We know that there is the maximum squard of 25 members in a team and minimum of 18 members from which we decides our playing 11 in every match
Here we are developing a new franchise

In [2]:
data=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Bowling Stats\BOWLING STATS - IPL_2016.csv")
data2=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Bowling Stats\BOWLING STATS - IPL_2017.csv")
data3=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Bowling Stats\BOWLING STATS - IPL_2018.csv")
data4=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Bowling Stats\BOWLING STATS - IPL_2019.csv")
data5=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Bowling Stats\BOWLING STATS - IPL_2020.csv")
data6=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Bowling Stats\BOWLING STATS - IPL_2021.csv")
data7=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Bowling Stats\BOWLING STATS - IPL_2022.csv")
data8=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Batting Stats\BATTING STATS - IPL_2016.csv")
data9=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Batting Stats\BATTING STATS - IPL_2017.csv")
data10=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Batting Stats\BATTING STATS - IPL_2018.csv")
data11=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Batting Stats\BATTING STATS - IPL_2019.csv")
data12=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Batting Stats\BATTING STATS - IPL_2020.csv")
data13=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Batting Stats\BATTING STATS - IPL_2021.csv")
data14=pd.read_csv(r"C:\Users\gupta\Downloads\IPL Player Stats\Batting Stats\BATTING STATS - IPL_2022.csv")

We use above data set of bowlers and batesman excluding the alrounders because of not having the data for the alrounders
so we concatinate the data of bowlers and batsman differngly because they both having the different components to show

In [3]:
ipldata_bowlers=pd.concat([data,data2,data3,data4,data5,data6,data7])
ipldata_batters=pd.concat([data8,data9,data10,data11,data12,data13,data14])

In [23]:
ipldata_bowlers.corr()

C:\Users\gupta\AppData\Local\Temp\ipykernel_22588\483439996.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  ipldata_bowlers.corr()

,POS,Mat,Inns,Ov,Runs,Wkts,Avg,Econ,SR,4w,5w
POS,1.000000,-0.695649,-0.838900,-0.871605,-0.850773,-0.921321,0.496889,0.376522,0.439814,-0.380672,-0.189507
Mat,-0.695649,1.000000,0.904504,0.818629,0.798178,0.709030,-0.161822,-0.298557,-0.095545,0.253792,0.089297
Inns,-0.838900,0.904504,1.000000,0.961407,0.944192,0.832776,-0.174332,-0.338213,-0.096279,0.302425,0.109563
Ov,-0.871605,0.818629,0.961407,1.000000,0.972969,0.883025,-0.219897,-0.358407,-0.138241,0.332569,0.123355
Runs,-0.850773,0.798178,0.944192,0.972969,1.000000,0.856908,-0.155936,-0.206481,-0.117666,0.334952,0.110273
Wkts,-0.921321,0.709030,0.832776,0.883025,0.856908,1.000000,-0.454600,-0.324088,-0.412435,0.484506,0.268489
Avg,0.496889,-0.161822,-0.174332,-0.219897,-0.155936,-0.454600,1.000000,0.339344,0.949438,-0.207040,-0.132415
Econ,0.376522,-0.298557,-0.338213,-0.358407,-0.206481,-0.324088,0.339344,1.000000,0.074825,-0.100758,-0.063128
SR,0.439814,-0.095545,-0.096279,-0.138241,-0.117666,-0.412435,0.949438,0.074825,1.000000,-0.205724,-0.134338
4w,-0.380672,0.253792,0.302425,0.332569,0.334952,0.484506,-0.207040,-0.100758,-0.205724,1.000000,0.066130
5w,-0.189507,0.089297,0.109563,0.123355,0.110273,0.268489,-0.132415,-0.063128,-0.134338,0.066130,1.000000

In [4]:
ipldata_batters.ndim

2

In [5]:
ipldata_bowlers.ndim

2

In [6]:
ipldata_bowlers.duplicated().sum()

0

In [7]:
ipldata_batters.duplicated().sum()

0

In [8]:
ipldata_batters.isnull().sum()

POS       0
Player    0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Avg       0
BF        0
SR        0
100       0
50        0
4s        0
6s        0
dtype: int64

In [9]:
ipldata_bowlers.isnull().sum()

POS       0
Player    0
Mat       0
Inns      0
Ov        0
Runs      0
Wkts      0
BBI       0
Avg       0
Econ      0
SR        0
4w        0
5w        0
dtype: int64

Now we have to pick 13 batters and 12 bowlers in our team

In [10]:
ipldata_bowlers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 615 entries, 0 to 102
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   POS     615 non-null    int64
 1   Player  615 non-null    object
 2   Mat     615 non-null    int64
 3   Inns    615 non-null    int64
 4   Ov      615 non-null    float64
 5   Runs    615 non-null    int64
 6   Wkts    615 non-null    int64
 7   BBI     615 non-null    object
 8   Avg     615 non-null    float64
 9   Econ    615 non-null    float64
 10  SR      615 non-null    float64
 11  4w      615 non-null    int64
 12  5w      615 non-null    int64
dtypes: float64(4), int64(7), object(2)
memory usage: 67.3+ KB

In [11]:
combined_data = pd.DataFrame()

In [12]:
#filtering th data
bowling_data= ipldata_bowlers[['Player', 'Wkts']]

In [13]:
bowler_stats = bowling_data.groupby('Player').agg({'Wkts': 'sum'})

In [18]:
combined_data = combined_data.append(bowling_data)

C:\Users\gupta\AppData\Local\Temp\ipykernel_22588\1020350507.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(bowling_data)

In [19]:
bowler_wickets = combined_data.groupby('Player')['Wkts'].sum()

In [20]:
top_bowlers = bowler_wickets.nlargest(12)

In [21]:
top_bowlers

Player
Jasprit Bumrah       134.0
Yuzvendra Chahal     131.0
Rashid Khan          112.0
Kagiso Rabada         99.0
Bhuvneshwar Kumar     92.0
Mohammad Shami        91.0
Trent Boult           83.0
Shardul Thakur        81.0
Dwayne Bravo          78.0
Sunil Narine          78.0
Sandeep Sharma        75.0
Andre Russell         73.0
Name: Wkts, dtype: float64